/* --- GLOBAL STYLES --- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
/*  border: 1px solid black;*/
}


body, html {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-image: url("bg.gif");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}

.background {
  display: none;
  background-color: rgba(0, 0, 0, .6);
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  z-index: 2;
  margin:auto;
}

.overlay {
  display: block;
  z-index: 1000;
  position: absolute;
  left: 0px;
  top: 0px;
  background: white;
  width: 100vw;
  height: 100vh;
  padding: 3em 1em;
  font-size: 2em;
}

button {
  font-size: 2em;
  background-color: rgb(233,63,47);
  color:white;
  border: none;
  border-radius: 15px;
  padding: 6px 15px;
  box-shadow: grey 3px 3px 3px;
  margin-top: .5em;
}

.contain {
  display: flex;
  flex-flow: row;
  justify-content:space-between;
}

section:nth-child(odd) .contain {
  flex-flow: row-reverse;
}

section:nth-child(even) .text {
  text-align: right;
}

section {
  background: #464646;
  padding: 3em 0;
}

section:nth-child(odd) {
  background-color: #676767;
}

section:nth-child(odd) > h2 {
  background: linear-gradient(to right, rgba(233,63,47,1), rgba(233,63,47,.05));
}

.video {
  position: relative;
  width:50%;
  padding-bottom: 28.125%;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text {
  margin:0;
  width: 50%;
  color: white;
  padding: 0 30px;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  text-align: center;
  height: 100%;
  margin-bottom: 1em;
  padding: 22% 5%;
  margin:auto;
  letter-spacing: 3px;
  text-shadow: 1px 1px 3px black;
  position: relative;
}

#logo {
  width: 150px;
  height: 150px;
  max-width: 100%;
}

.logo p {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

h1 {
  font-family: 'Fredoka One', cursive;
  color: white;
  font-weight: normal;
  font-size:4em;
  text-align: center;
  margin:auto 0;
}

h2 {
  color:white;
  font-weight: 700;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: 10;
  width: 100%;
  text-align: center;
  padding:0;
  background: linear-gradient(to left, rgba(233,63,47,1), rgba(233,63,47,.05));
  margin: 0 0 28px 0;
}

p {
  margin: 0;
  line-height: 1.5;
}

@media (max-width: 937px) {

  .contain {
    display: block;
  }

  .video {
    width: 90%;
    padding-bottom: 50.625%;
    margin: 1em auto;
  }

  .text {
    width: 90%;
    padding:0;
    margin: 1em auto;
    text-align: center !important;
  }
}

@media (max-width: 600px) {

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.2em;
  }

  p {
    font-size: .9em;
  }
}
